* {
    background-color: #141E30;
    color: white;
}
h1 h2 h3 h4 h5 h6 {
    text-decoration: underline;
}
img {
  width: 365;
  text-align: justify;
    border: 1;
}
.link {
    color: #FFD700;
}
table tr td {
    text-align: center;
    border: 1px solid white;
}
td {
    border: 3px solid #141E30
}
